{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react", // 支持编译jsx代码
        "react-app" // mobx
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }], // mobx
        "react-hot-loader/babel"] // react-hot-loader
}